 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 
 .header {
   width: 100%;
   height: 50px;
   background-color: #ff9a4b;
 }
 
 main {
   width: 960px;
   margin: 50px auto;
   display: flex;
 }
 
 .box {
   width: 300px;
   margin-right: 30px;
   padding: 10px;
   position: relative;
   background-color: #eeeeee;
 }
 
 .image1 {
   height: 150px;
   background-image: url(img/flow01.png);
   background-position: bottom;
   background-size: cover;
 }
 
 .image2 {
   height: 150px;
   background-image: url(img/flow02.png);
   background-position: bottom;
   background-size: cover;
 }
 
  .image3 {
   height: 150px;
   background-image: url(img/flow03.png);
   background-position: bottom;
   background-size: cover;
 }
 
 .step {
   position: absolute;
   top: 0;
   left: 0;
   background-color: #ff9a4b;
   color: #fff;
 }
 
 .title {
   margin: 15px 0 5px;
 }
 
 .footer {
   width: 100%;
   height: 50px;
   background-color: #aaaaaa;
 }
 
 @media screen and (max-width:768px) {
  
  main {
   width: 100%;
   flex-direction: column;
   align-items: center;
  }
  
  .box {
   width: 90%;
   margin: 0 0 20px 0;
  }
  
  .box:last-child {
   margin: 0;
  }
 }